.bot-nav{
    margin-top: 20px;
}

#phone{
    padding: 20px;
    border-radius: 50%;
    background-color: green;
    color: white;
    font-size: 72px;
}


#title{
    padding-top: 10vh;
    font-size: 5rem;
    padding-bottom: 20px;

}

#mail{
    padding: 20px;
    border-radius: 50%;
    background-color: blue;
    color: white;
    font-size: 72px;
}


.n-style-link:hover{
    text-decoration: underline solid white;
    color: white;
}

#linkedin-contact{
    padding: 20px;
    border-radius: 50%;
    background-color: #0072B1;
    color: white;
    font-size: 72px;
}

.pad-20{
    padding: 20px;
}

.icon{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    justify-content: space-evenly;
    
}

.icon > * {
    margin: 20px;
}


.form{
    width: 50vw;
    
    
}

#success{
    color: green;
    padding-top: 20px;
}



@media only screen and (max-width: 1250px){
    #title{
        font-size: 42px;
        padding-top: 10vh;
    }

    .para{
        font-size: 1.25rem;
    }
    #linkedin-contact, #mail, #phone {
        font-size: 32px;

    }
    
}

@media only screen and (max-width: 500px){
    .form{
        width: 100%;
    }

    .icon{
        flex-direction: row;
        justify-content: space-between;
    }

    .content{
        flex-direction: column;
    }

    #linkedin-contact, #mail, #phone {
        font-size: 16px;
        padding: 10px;
    }
}


.content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.n-style-link{
    text-decoration: underline solid transparent;
    color: white;
    transition: text-decoration 1.5s ease;
}

