
#title{
    padding-top: 30vh;
    font-size: 5rem;
    background-color: transparent;
    z-index: 4;
    color: rgba(255,255,255,1);
    opacity: 100%;  
    height: 100vh;
    background-color: rgba(0,0,0, 0.5);
    text-align: center;
}


.para {
    font-size: 1.5rem;
    padding: 20px;
}

#nav{
    z-index: 3;
}

#mobile-img{
    display: none;
}

#back-img{
    position: absolute;
    top: 0;
    z-index: 0;

    
}

#pad-0{
    padding: 0;
}




#title-div{
    background: rgba(0,0,0,0.5);
    background-image: url('/static/img/711-frs.jpg');
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

    display: block;
    

}

.middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 !important; 
}


#car-img, #gundam-img{
    height: 100vh;
    width: 50vw;
    object-fit: cover;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

.content{
    padding: 0;
}

#title-content{
    opacity: 100%;
    color: rgba(255,255,255,1)
}


.sub-head{
    font-size: 3rem;
}

#car-img1{
    display: inline;
}


#gundam1{
    display: inline;
}
.gundam-slide{
    display: none;
    width: 100%;
    height: 70vh !important;
    object-fit: contain;
}
.pad-50{
    padding: 50px;
}

.song-title{
    font-size: 2.5rem;
}

.song-artist{
    font-size: 2rem;
}

.song-img{
    max-height: 50vh;
}

.artist-button{
    color: white;
    background-color: #1db954;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 1.75rem;
}

.artist-button:hover{
    color: grey;
    text-decoration: none;
}

.music{
    padding: 5px !important;
}

.bot-nav{

    background-color: #181818;

}

.music-con{
    margin: 10px;
}

.song-div{
    margin: 100px auto;
}
.red{
    color: red;
}
.mp3{
    margin: 30px;
    max-width: 600px;
    width: 75%;
}

.car-slide{
    display: none;
    height: 500px !important;
    width: 100%;
    object-fit:cover;
}

@media only screen and (max-width: 750px){

    .car-slide{
        height: 300px !important;
    }

    .song-img{
        max-width: 75% !important;
       
       
        
    }

}
@media only screen and (max-width: 500px){
    .song-div{
        padding: 10px;
        margin: 20px;
    }
    .artist-button{
        font-size: 26px;
    }

    .car-slide{
        height: 200px !important;
    }
    .song-img{
        max-width: 400px;
       
        min-width: 200px;
        padding: 5px 20px; 
        
    }

    .song-artist{
        font-size: 26px;
    }

    .song-title{
        font-size: 30px;
    }
    #title{
        
        font-size: 42px;
        padding-top: 5vh;
        padding-bottom: 5vh;
        height: auto;
    }

    .para{
        font-size: 1.25rem;

    }

    
    

    .sub-head{
        font-size: 36px;
    }
    #back-img{
        position: static;
        top: auto;
        opacity: 100%;
        padding-top: 20px;
    }

    #title-div{
        background-image: none;
    }

    #mobile-img{
        display: inline;
    }

    #title-div{
        height: auto;
    }
}


@media only screen and (max-width: 768px){
    #car-img, #gundam-img{
        height: auto;
        width: 100%;
    }
}


@media only screen and (max-width: 300px){
    .para{
        font-size: 1rem;
    }

    .song-div{
        padding: 10px;
        margin: 20px;
    }

    .song-img{
        min-width: 90%;
        padding: 0px;
    }
    .artist-button{
        
        font-size: 18px;
    }
}