.container-fluid{
    background-color: black;
    color: white;
    
}



html{
    font-size: 18px;

    background-color: black;
}
.bg-black{
    background-color: #181818 !important;
}
*{
    font-family: 'Advent Pro';

}
.white{
    color: grey;
    transition: color 0.5s ease;
}

#pad-0{
    padding: 0;
}

.white:hover{
    text-decoration: none;
    color: white;
    
}

.para {
    font-size: 1.5rem;
    padding: 20px;
}

.active-bot{
    color: white;
}
.bot-nav{
   
    padding: 30px 10px;
    background-color: #181818;
    

}
.nav-img > * > * > *{
    padding-top: 10px;
    color: rgba(255,255,255,.5) !important;
}

body{
    height: auto;
    background-color: black !important;
}

#nav{
    
    background-color: #181818;
}

#flex-row{
    display: flex;
    justify-content: center;
    align-items: center;
}



.nav-link, #text-center{
    /* Align all links to center when viewing mobile */
    text-align: center;
}

@media only screen and (max-width: 800px){
    #flex-row{
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        

        object-fit: contain;
    }
}

html, body{
    min-height: 100vh;


}

body{
    position: relative;
}